apiVersion: v1
kind: Namespace
metadata:
  name: "clusters-{{ .clusterId }}"
  labels:
    hyperfleet.io/cluster-id: "{{ .clusterId }}"
    hyperfleet.io/cluster-name: "{{ .clusterName }}"
    hyperfleet.io/managed-by: "adapter-hc"
    hyperfleet.io/resource-type: "namespace"
  annotations:
    hyperfleet.io/generation: "{{ .generation }}"
