apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: pull-secret
  namespace: "clusters-{{ .clusterId }}"
  labels:
    hyperfleet.io/cluster-id: "{{ .clusterId }}"
    hyperfleet.io/managed-by: "adapter-hc"
    hyperfleet.io/resource-type: "pull-secret"
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: "{{ .pullSecretStoreName }}"
    kind: ClusterSecretStore
  target:
    name: pull-secret
    creationPolicy: Owner
    template:
      type: kubernetes.io/dockerconfigjson
  data:
    - secretKey: .dockerconfigjson
      remoteRef:
        key: "{{ .pullSecretGcpKey }}"
