apiVersion: v1
kind: Secret
metadata:
  name: "{{ .clusterName }}-signing-key"
  namespace: "clusters-{{ .clusterId }}"
  labels:
    hyperfleet.io/cluster-id: "{{ .clusterId }}"
    hyperfleet.io/managed-by: "adapter-hc"
    hyperfleet.io/resource-type: "signing-key"
type: Opaque
data:
  key: "{{ .serviceAccountSigningKey }}"
