# Default values for adapter-hc (HostedCluster adapter)
# Uses the hyperfleet-adapter chart as a subchart dependency.

hyperfleet-adapter:
  image:
    registry: quay.io/openshift-hyperfleet
    repository: hyperfleet-adapter
    pullPolicy: Always
    tag: v0.1.0

  adapterConfig:
    create: true
    files:
      adapter-config.yaml: adapter-config.yaml

  adapterTaskConfig:
    create: true
    files:
      task-config.yaml: adapter-task-config.yaml

  broker:
    create: true
    googlepubsub:
      projectId: ""
      subscriptionId: hyperfleet-cluster-events-adapter-hc
      topic: hyperfleet-cluster-events
      createTopicIfMissing: false
      createSubscriptionIfMissing: false

  serviceAccount:
    create: true
    name: hyperfleet-adapter-hc
    annotations: {}

  env:
    - name: NAMESPACE
      valueFrom:
        fieldRef:
          fieldPath: metadata.namespace
    - name: HC_BASE_DOMAIN
      value: ""
    - name: HC_RELEASE_IMAGE
      value: "quay.io/openshift-release-dev/ocp-release:4.20.0-x86_64"
    - name: PULL_SECRET_STORE_NAME
      value: "global-gcp-secret-manager"
    - name: PULL_SECRET_GCP_KEY
      value: "openshift-pull-secret"

  rbac:
    resources:
      - namespaces
      - secrets
      - configmaps

  extraVolumeMounts:
    - name: kubeconfig
      mountPath: /etc/adapter
      readOnly: true

  extraVolumes:
    - name: kubeconfig
      secret:
        secretName: mc-cluster-secret
        items:
          - key: kubeconfig
            path: kubeconfig
